*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
 }
 
 body{
		font-family: "Segoe UI", Arial, sans-serif;
		line-height: 1.4;
		color: #1f1f1f;
	}

.container{
		max-width: 80%;
		margin: 0 auto;
		padding: 0 10px;
		}
		
.form-container {display: flex; width: 1800px;}
.input-text { 
			font-size:20px;
			padding: 2px 15px;
			border: 1px solid #cecece;
			outline: none;
			font-weight:800;
			max-width: 1200px;
			}

.input-text::placeholder {
		color: rgb(17, 17, 17);
		opacity: 100;
		}
		
.input-submit:hover{
		background: #000088;
	
		}		
.input-submit {
		margin-left:100px;
		flex: 2;
		border: 2px solid #333;
		background: #038203;
		color: #fff;
		text-transform: uppercase;
		cursor: pointer;
		font-weight: 600;
		max-width: 100px;
		outline: none;
		}
		
		
.todo-item {
		width: 80%;
		list-style-type: none;
		padding: 10px 0px;
		border-bottom: 2px solid #cccccc;
		}
		
		
.todo-item input {
		margin-right: 20px;
		}
		

.todo-item button:hover{ color: #000000;
						 background-color: #ff0000;
						 border-color:#000000;}
		
.todo-item button {
		background: #d35e0f;
		color: #fff;
		border: 3px solid #c24d0e;
		padding: 3px 7px;
		cursor: pointer;
		float: right;
		outline: none;
		}
